body, html {
  height: 100%;
  margin: 0;
}

.chat-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#chat {
  display:flex;
  flex-direction: column ;
  overflow-y: auto;
  background-color: #f8f9fa;
}

.message-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  margin-bottom: 10px;
  border-radius: 15px;
  margin-bottom: 5px;
  word-wrap: break-word;
}

.message-user {
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 3px;
}

/* 自分のメッセージ（右寄せ） */
.sent-message-wrapper {
  align-self: flex-end;
  text-align: right;
}

.sent-message {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 15px;
  border-bottom-right-radius: 0;
  max-width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  margin-left: auto;
}

/* 受信メッセージ（左寄せ） */
.received-message-wrapper {
  align-self: flex-start;
}

.received-message {
  background-color: #236f92bd;
  color: white;
  padding: 10px 15px;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  max-width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  margin-right: auto;
}

/* 入退室メッセージ */
.entry-exit-wrapper {
  align-self: center;
}

.entry-exit {
  background-color: #f1f0f0;
  color: black;
  padding: 10px 15px;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  max-width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  margin-right: auto;
}

.input-group {
  display: flex;
  background-color: #fff;
  border-top: 1px solid #ccc;
  padding: 10px;
}

.input-group .form-control {
  flex: 1;
}